---
import LandingHeader from "../components/LandingHeader.astro";
import Speech1 from "../components/Speech1.astro";
import Speech2 from "../components/Speech2.astro";
import Speech3 from "../components/Speech3.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Acknowledgment - C1 Advanced - Monday/Thursday - 4:00 to 6:00PM">
  <LandingHeader />
  <main class="snap-y snap-mandatory w-full min-h-screen overflow-y-auto overflow-x-hidden scroll-smooth">
    <div class="snap-center min-h-screen">
      <Speech1 />
    </div>
    <div class="snap-center min-h-screen">
      <Speech2 />
    </div>
    <div class="snap-center min-h-screen">
      <Speech3 />
    </div>
  </main>
</Layout>
