---
import Section from "./Section.astro"
---

<Section
  title="Bienvenido a la gran experencia del grado C1 Advanced"
  subtitle="Este es un Sitio Web para ver los agradecimientos de los estudiantes"
  color="white"
  id="home"
>
  <div slot="footer">
    <a
      class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
      href="https://idiomas.unillanos.edu.co/quickstart/index.php"
      target="_blank"
    >
      Unirse al Centro de Idiomas
    </a>
  </div>

  <video
    slot="background"
    id="background-video"
    autoplay
    muted
    loop
    src="/video.webm"></video>
</Section>

<style>
  /* Estilos para PC */
  @media (min-width: 721px) {
    #home {
      font-size: 20px;
    }

    #background-video {
      width: 100%;
      height: 100vh; /* Ajusta la altura al 100% de la altura de la pantalla */
      object-fit: cover; /* Mantiene la relación de aspecto del video, recortándolo si es necesario */
    }
  }
  /* Estilos para móvil medio */
  @media (min-width: 361px) and (max-width: 375px) {
    #home {
      font-size: 16px;
    }
  
    #background-video {
      width: 100%;
      height: 100vh; /* Ajusta la altura al 100% de la altura de la pantalla */
      object-fit: cover; /* Mantiene la relación de aspecto del video, recortándolo si es necesario */
    }
  }
  
  /* Estilos para móvil grande */
  @media (min-width: 376px) and (max-width: 720px) {
    #home {
      font-size: 18px;
    }
  
    #background-video {
      width: 100%;
      height: 100vh; /* Ajusta la altura al 100% de la altura de la pantalla */
      object-fit: cover; /* Mantiene la relación de aspecto del video, recortándolo si es necesario */
    }
  }
</style>