<div class="logo-container flex items-center">
  <a href="#">
    <img 
      src="https://idiomas.unillanos.edu.co/quickstart/images/idiomas/web/Idiomas%20logo%20(1).jpeg" 
      alt="Idiomas Logo"
      class="h-12 w-auto mr-2"
    />
  </a>
</div>

<style>
.logo-container {
  display: flex;
  align-items: center;
}
</style>