---
import Section3 from "./Section-Speech3.astro";

const students = [
  { src: '/student-1.webp' },
  { src: '/student-2.webp', name: 'Valeria Arias Villa', subtitle: 'Medical Doctor' },
  { src: '/student-3.webp', name: 'Danna Alexandra Barrios', subtitle: 'Bachelor Degree in Bilingual Education' },
  { src: '/student-4.webp', name: 'Ailyn Sofia Gómez', subtitle: 'Data Scientist' },
  { src: '/student-5.webp', name: 'Laura Valeria Jiménez', subtitle: 'Multimedia Producer' },
  { src: '/student-6.webp', name: 'Michell Dayana Oliveros', subtitle: 'Financial Management' },
  { src: '/student-7.webp', name: 'Nicolle Dayanna Piñeros', subtitle: 'International Business Professional' },
  { src: '/student-8.webp', name: 'Sofia Valentian Rincón', subtitle: 'Student' },
  { src: '/student-9.webp', name: 'Juan Andrés Rojas', subtitle: 'Software Engineer' },
  { src: '/student-10.webp', name: 'Juan Felipe Romero', subtitle: 'International Business Professional' },
  { src: '/student-11.webp', name: 'Leydy Alejandra Vásquez', subtitle: 'Chemical Engineer' },
  { src: '/student-12.webp', name: 'Juan Esteban Vega', subtitle: 'Bachelor Degree in Mathematics' },
  { src: '/student-13.webp', name: 'Jessica Fernanda Vergara', subtitle: 'Public Accountant' },
];
const memories = [
  { src: '/classroom.webp' },
  { src: '/memories-1.webp' },
  { src: '/memories-2.webp' },
  { src: '/memories-3.webp' },
  { src: '/memories-4.webp' },
  { src: '/memories-5.webp' },
  { src: '/memories-6.webp' },
  { src: '/memories-7.webp' },
  { src: '/memories-8.webp' },
  { src: '/memories-9.webp' },
  { src: '/memories-10.webp' },
];
---
<Section3
  title="Students"
  subtitle="Our graduating class of 2024."
  color="white"
  id="speech-3"
  students={students}
  memories={memories}
/>

<footer
  class="py-4 px-10 flex justify-center items-center w-full z-20 text-gray-600 dark:text-gray-300 text-xs font-medium"
  id="landing-footer"
>
  <nav>
    <ul class="flex [&>li>a]:inline-block [&>li>a]:px-2 [&>li>a]:py-2">
      <li><a href="#">Juan Rojas © 2023</a></li>
      <li><a href="#">Privacidad y legal</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
  </nav>
</footer>
