---
import Section from "./Section.astro"
---

<Section
  title="Speech - English"
  acknowledgment={"Acknowledgment"}
  subtitle={"Good afternoon to everyone present. I would like to start this speech by thanking you for being here with us."}
  subtitle2={"Today is a very important day, not only for those of us who graduate, but also for those people who have supported us throughout this training process, our parents, friends, teachers and even the managers of the Unillanos language center. I know that all the processes are different for each person, but I still think we all agree that this course was full of learning. That is why today I would like to highlight the very important role that teachers played in this process. Thanks to their vocation, dedication, knowledge, and patience along with our desire to learn is why we are here today, culminating one of the many goals we have set for ourselves."}
  subtitle3={"It wasn't easy to get to this point, I know that we all felt frustrated at some time since we couldn't pronounce the words in the right way because we didn't understand the listening exercises. And it is that learning a new language requires a lot of discipline and patience, which is why I congratulate us for having taken this step, for wanting to improve ourselves.   I also address those people who supported us during the course of this process. Thanks to their encouragement, we have gained confidence in our abilities and we have learned not to give up in the face of difficulties. We appreciate every moment you have dedicated to listening to our readings in English and for motivating us when we thought everything was very difficult."}
  subtitle4={"You, our families, and friends have been our greatest cheerleaders, that's why this achievement is both ours and yours. Every success in this course is a reflection of the love and support we have received from you. We have been taught that learning is not only memorizing words and grammatical rules, but also opening our minds to new cultures and ways of thinking. Thanks to you, we have not only learned English, but we have also grown as people.   On behalf of all my classmates and myself, we thank from the bottom of our hearts to all the people who took part in this adventure. Thanks to the Unillanos language center for providing us with an incredible and very enriching experience. Today is the beginning of many new learnings."}
  subtitle5={"Thank you very much."}
  person={"Nicolle Dayanna Piñeros Toro"}
  image={"/student-7.webp"}
  color="white"
  id="speech-1"
  name="Persona 1"
  description="Subtitle 1"
  reverseLayout
>

  <style>
    /* Estilos para móvil pequeño */
    @media (max-width: 360px) {
      #speech-1 {
        font-size: 14px;
        line-height: 1.2;
      }
    }

    /* Estilos para móvil medio */
    @media (min-width: 361px) and (max-width: 375px) {
      #speech-1 {
        font-size: 16px;
        line-height: 1.3;
      }
    }

    /* Estilos para móvil grande */
    @media (min-width: 376px) and (max-width: 720px) {
      #speech-1 {
        font-size: 18px;
        line-height: 1.4;
      }
    }

    /* Estilos para tablet y superior */
    @media (min-width: 721px) {
      #speech-1 {
        font-size: 20px;
        line-height: 1.5;
      }
    }
  </style>
</Section>
